:root {
    --text-primary: #1a202c;
    --text-secondary: #4a5568;
    --border-color: #e2e8f0;
    --error-color: #e53e3e;
  }
/* Modal Base Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 1000;
  }
  
  .modal.active {
    display: flex;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  /* Modal Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }
  
  /* Form Styles */
  .product-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .product-form button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 10px;
    width: 100%;
  }
  
  .product-form button[type="button"] {
    background-color: #b4605a;
  }
  
  .product-form button:hover {
    opacity: 0.9;
  }
  
  /* Responsiveness */
  @media (max-width: 600px) {
    .modal-content {
      width: 95%;
      padding: 15px;
    }
  
    .modal-header h2 {
      font-size: 1rem;
    }
  
    .product-form input {
      font-size: 0.9rem;
    }
  
    .product-form button {
      font-size: 0.9rem;
    }
  }
  

  .chart-container {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  